/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body{
  background-color: #0B0A08;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text p{
  text-align: left;
}
.actor-list h3{
  text-align: left;
  color: red;
  font-size: 40px;

  
}
.actor-list li{
  text-align: left;
  color: white;
  font-size: 20px;
  
}

.left-box h1{
  text-align: left;
  color: red;
  font-size: 40px;

  
}
.left-box .text p{
  text-align: left;
  color: white;
  font-size: 18px;

  
}
@media (max-width: 768px) {
  .avt img {
    width: 100%; /* Mengubah lebar gambar menjadi 100% */
    max-width: none; /* Menghapus maksimum lebar gambar */
  }
}

